
  <body class="box-shadow">
    <h1 style="color:whitesmoke">
      Basic protective measures against the new coronavirus
    </h1>
    <div class="container">
      <h2 style="text-align:left;color:whitesmoke">1.Stay Home</h2>
      <p style="text-align:left;color:whitesmoke">
        The best ‘medicine’, however, to counter the threat is awareness, remaining calm and staying away from crowds – therefore the tagline ‘social distancing’ is being so widely used.
        While the governments across the world are taking a number of initiatives to curb the pandemic, it is the responsibility of every individual to be aware of their social commitment.
        It is obvious that because of COVID-19 the world is suffering in many areas such as trade, job security etc., however, the primary focus should be on saving lives.  It is not the time for an outing with friends and family, instead stay indoors to reduce the exposure and safeguard the elders and children.
      </p>
    </div>
    <div class="container">
      <h3 style="text-align: left;color:whitesmoke">2.Washing Hands</h3>
      <p style="text-align:left;color:whitesmoke">
        It’s one of the best ways to prevent Covid-19 — and you’re probably doing it wrong.
        The amount of time spent hand-washing is important, Larson explains, to thoroughly cover and scrub every surface of both hands. To do this right, the CDC provides a step-by-step guide: Wet your hands with clean water, lather soap on every surface, scrub your hands together for at least 20 seconds, and rinse before drying. If you need a timer, the CDC recommends humming the “Happy Birthday” song from beginning to end twice.
      </p>
    </div>
    <div class="container">
      <h3 style="text-align:left;color:whitesmoke">3.Don’t touch your face</h3>
      <p style="text-align:left;color:whitesmoke">
        Public health officials consistently promote hand-washing as a way for people to protect themselves from the COVID-19 coronavirus. However, this virus can live on metal and plastic for days, so simply adjusting your eyeglasses with unwashed hands may be enough to infect yourself. Thus, the Centers for Disease Control and Prevention and the World Health Organization have been telling people to stop touching their faces.
      </p>
    </div>
    <div class="container">
      <h4 style="text-align:left;color:whitesmoke">4.Practice respiratory hygiene</h4>
      <p style="text-align:left;color:whitesmoke">
        Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue immediately.
        Why? Droplets spread virus. By following good respiratory hygiene you protect the people around you from viruses such as cold, flu and COVID-19.
      </p>
    </div>
  </body>


