<h1>We Can Beat This Together</h1>
<hr/>
<hr/>


<div class="row">
  <div class="column">
    <div class="card">
      <!--<img src="/w3images/team1.jpg" alt="Jane" style="width:100%">-->
      <div class="container">
        <h1>About Developer</h1>
        <hr/>
        <h2 style="color:blue;font-size:30px;">Vishesh Aalwani</h2>
        <hr/>
        <p class="title"></p>
        <p>I am a passionate coder who loves to learn new things by trying them out.</p>
        <p style="color:blue">Email Id: visheshaalwani96@gmail.com</p>
        <hr />
        <a href="https://www.facebook.com/special.aalwani1">Facebook</a>
        <hr />
        <a href="https://www.linkedin.com/in/vishesh-aalwani-aa308b9b/">LinkedIn</a>
      </div>
    </div>
  </div>
</div>
